* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    background: #f7f6f2;
}

h1,p {
	color: grey;
	letter-spacing: 2px;
	font-family: Arial, Helvetica, sans-serif;
}

.content-wrap {
	width: 80%; 
	margin: auto;
	max-height: 100%; 
	position: relative; 
	}
.content {
	padding: 3em 0;
	}
	
@media screen and (min-width: 768px) {
	
	body {
		font-size: 19px;
		}
	
	h1 { 
		font-size: 3vw;
		}
	
}

@media screen and (min-width: 1200px) {
	
	.content-wrap {
		width: 50%;
		}		
}

@media screen and (min-width: 1600px) {
	
	.content-wrap {
		width: 50%;
		}
		
	.content {
		padding: 6em 0;
		}
}